<div class="jumbotron">
    <div class="container">
        <h1>{{status}}</h1>
        <p>VHS has been {{toLower status}} for {{fromNow last}}</p>
    </div>
</div>

<div class="container">
    <div id="react-calendar-mount"></div>
</div>